*{ /* Baseline */
    background: #827878;
    z-index: 1;
}

/* Navbar */
.navbar{
    background-color: #141414;
    height: 80px;
    display: grid;
    justify-content:center;
    align-items: center;
    z-index: 2;
    font-size: 1.2rem;
}

.navbar__container{
    background-color: #141414;
    display: inline-block;
}

    /* title */

.navbar__title{
    color: aliceblue;
}

.navbar__title h1 {
    background-color: #141414
}

    /* logo */

.navbar__logo {
    display: flex;
    align-items: end;

}

.navbar__logo img {
   
}

/* Main */

.main{

}

.main__container {

}

    /* Search */

.search__container {

}

    /* Schedule */

.schedules__container{

}

.schedule__container{

}

.schedule{

}

    /* left side of schedule page */

.left__container{

}