*{ /* Baseline */
    background: #827878;
}

/* Navbar */
.navbar{
    background-color: #141414;
    height: 80px;
    display: flex;
    font-size: 1.2rem;
    align-items: center;
}

.navbar__container{
    background-color: #141414;
    }
    /* title */

.navbar__title{
    color: aliceblue;
    text-align: center;
    
}

.navbar__title h1 {
    background-color: #141414;
    align-self: center;
}

    /* logo */

.navbar__logo {
    


}

.navbar__logo img {
    align-items: center;
   height: 100%;
   width: 100%;
   cursor: pointer;
}

/* Main */

.main{

}

.main__container {

}

    /* Search */

.search__container {

}

    /* Schedule */

.schedules__container{

}

.schedule__container{

}

.schedule{

}

    /* left side of schedule page */

.left__container{

}